__pycache__/
*.py[cod]
*.pyo
.pytest_cache/
.coverage
htmlcov/
.venv/
venv/
build/
*.log
*.tmp
~$*
.DS_Store
Thumbs.db
docs/Informe_Final_StatLab_Alexis_Patino_Carlos_Zhuzhingo.docx
docs/Informe_Tecnico_StatLab.pdf
